<!DOCTYPE html>
<html>
<head>
<style>
body{
 font-family:Arial;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
td{
	text-align: left;
}
th{
	text-align: center;
	background-color: lightgray;
}
#small{
	font-size:12px;
	background-color: lightgray;
    text-align:center	
}
#number{
	text-align: center;
}

#jumlah{
	border-top:double;
}

</style>
</head>
<body>

<table style="width:100%">
  <tr>
    <th>No.</th>
    <th>Nama Dosen</th>
    <th>Tema PkM sesuai Roadmap</th>
    <th>Nama Mahasiswa</th>
	<th>Judul Kegiatan</th>
	<th>Tahun</th>
  </tr>
  <tr>
    <td id="small">1</td>
    <td id="small">2</td>
    <td id="small">3</td>
    <td id="small">4</td>
    <td id="small">5</td>
    <td id="small">6</td>
  </tr>
  <tr>
    <td id="number">1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td id="number">2</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td id="number">3</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td id="number">...</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td id="jumlah" colspan="4" style="text-align:center;"><b>Jumlah</b></td>
    <td id="jumlah"></td>
    <td id="jumlah" style="background-color:lightgray;"></td>
    
  </tr>
</table>

</body>
</html>
